<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Vue Test Todos</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        #display-box > ul {
            list-style: none;
            padding-left: 0;
        }

        .completed {
            text-decoration: line-through;
            color: lightslategray;
        }

        /*.delete-todo:hover::after {*/
            /*content: 'x';*/
            /*color: orangered;*/
        /*}*/

        .todo-box .delete-todo {
            display: none;
        }

        .todo-box:hover .delete-todo {
            display: block;
        }
    </style>
</head>
<body>
<div id="root" style="width: 500px">
    <div id="debug-message-area" v-if="isDebug">
        <p>debug {{ debug }}</p>
        <p>input {{ inputText }}</p>
    </div>

    <div id="create-box" class="row">
        <div class="col-sm-1" @click="selectAll">
            <span v-if="todos.length > 0">V</span>
        </div>
        <div class="col-sm-4">
            <input type="text" v-model="inputText" @keydown.enter="onInputKeyUp">
        </div>
    </div>
    <div id="display-box">
        <ul>
            <li
                    is="todo-box"
                    v-for="todo in displayTodos"
                    :todo="todo"
                    :key="todo.id"
                    @toggle-todo-state="toggleTodoState"
                    @delete-todo="deleteTodo"
            >
            </li>
        </ul>
    </div>
    <div id="footer-box" v-if="todos.length > 0">
        <span>{{ leftItemsText }}</span>
        <button @click="displayTarget = 0">All</button>
        <button @click="displayTarget = 1">Active</button>
        <button @click="displayTarget = 2">Completed</button>
        <button v-if="completedTodos.length > 0" @click="clearAllCompletedTodos">Clear completed</button>
    </div>
</div>

<!-- 1todoの行 -->
<template id="todo-box">
    <div class="row todo-box">
        <!--<input type="checkbox" v-model="todo.isCompleted">-->
        <div class="col-sm-1 checkbox" @click="toggleTodoState">
            V
        </div>
        <div class="col-sm-4 todo-content-row" v-if="isNormal" >
            <div :class="{ completed: todo.isCompleted }" @dblclick="mode = 'edit'">
                {{ todo.content }}
                <span class="delete-todo" @click="$emit('delete-todo', todo)">x</span>
            </div>

        </div>
        <div class="col-sm-4 todo-edit-area" v-else>
            <input type="text" @keyup.enter="updateContent" @blur="updateContent" v-model="todo.content">
        </div>

    </div>
</template>
</body>

<script src="./vue.js"></script>
<script>
    Vue.component('todo-box', {
        data: function () {
            return {
                mode: 'normal',
            };
        },
        props: ["todo"],
        template: '#todo-box',
        computed: {
            isNormal: function () {
                return this.mode === 'normal';
            },
        },
        methods: {
            updateContent: function () {
                // TODO 日本語入力のときのEnterをhook
                // TODO 文字が空だと更新できないみたいな検証をhookする(v-modelじゃなくて自前でイベントする)
                this.mode = 'normal';
            },
            toggleTodoState: function () {
                this.$emit('toggle-todo-state', this.todo);
            }
        }
    });

    var vm = new Vue({
        el: '#root',
        data: function () {
            return {
                isDebug: false,
                displayTarget: 0,
                inputText: '',
                todos: [
                    {
                        id: 1,
                        isCompleted: false,
                        content: 'hoge',
                    },
                    {
                        id: 2,
                        isCompleted: false,
                        content: 'fuga',
                    },
                    {
                        id: 3,
                        isCompleted: true,
                        content: 'foo',
                    }
                ],
                debug: ''
            }
        },
        computed: {
            displayTodos: function () {
                if (this.displayTarget === 0) {
                    return this.todos;
                } else if (this.displayTarget === 1) {
                    return this.incompleteTodos;
                } else if (this.displayTarget === 2) {
                    return this.completedTodos;
                }
            },
            incompleteTodos: function () {
                return this.todos.filter(todo => !todo.isCompleted);
            },
            completedTodos: function () {
                return this.todos.filter(todo => todo.isCompleted);
            },
            leftItemsText: function () {
                const leftNum =  this.incompleteTodos.length;

                const itemWord = leftNum === 1 ? 'item' : 'items';
                return `${leftNum} ${itemWord} left`;
            }
        },
        methods: {
            onInputKeyUp(e) {
                // 日本語入力の変換確定のEnterは229で来るのでラップ
                if (e.keyCode !== 13) return;
                this.addTodo();
            },
            addTodo: function () {
                const content = this.inputText;

                // バリデーション
                if (content.length === 0) {
                    return;
                }

                // TODO setterを用意すべき?
                this.todos.push({
                    isCompleted: false,
                    content: content
                });

                this.inputText = "";
            },
            deleteTodo: function (target) {
                // TODO 対象を正しく選択する
                this.todos.splice(this.todos.findIndex(todo => todo.content === target.content), 1);
            },
            selectAll: function () {
                // すでに全選択済みなら全解除
                if (this.todos.length === this.completedTodos.length) {
                    this.todos = this.todos.map(todo => {
                        const updated = todo;
                        updated.isCompleted = false;
                        return updated;
                    });
                } else {
                    this.todos = this.todos.map(todo => {
                        const updated = todo;
                        updated.isCompleted = true;
                        return updated;
                    });
                }
            },
            clearAllCompletedTodos: function () {
                this.todos = this.todos.filter(todo => !todo.isCompleted);
            },
            toggleTodoState: function (target) {
                console.log(target);
                let i = this.todos.findIndex(todo => todo.content === target.content);
                this.todos[i].isCompleted = !this.todos[i].isCompleted;
            }
        }
    });

    Vue.component('todo-display-box', {
        data: function () {
            return {};
        },
        props: ['todos'],
        template: `
        <ul>
            <li v-for="todo in todos">{{ todo }}</li>
        </ul>
        `
    });
</script>
</html>